<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/sponsor_dash.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="container">
        <div id="panel">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                    <div>
                        <h4>{{ admin.username }}'s Dashboard</h4>
                    </div>
                    <div>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/dashboard/admin/{{admin.username}}">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page"
                                    href="/dashboard/admin_find/{{admin.username}}">Find</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <h2>Users Stat</h2>
            <div class="camp" style="display: flex; flex-direction: column; align-items: center;">
                <div class="request_1" style="width: 100%; display: flex; justify-content: center;">

                    <img src="/static/images/admin_summary/{{admin.username}}.jpg" height="400" alt="">
                </div>
            </div>
            <div class="camp" style="display: flex; flex-direction: column; align-items: center;">
                <h3>Flagged Users</h3>
                <div class="request_1" style="width: 100%; display: flex; justify-content: center;">

                    <img src="/static/images/admin_summary/{{admin.username}}_flagged_vs_unflagged.jpg"  height="400" alt="">
                </div>
            </div>
            <hr style="width: 90%; border: 1px solid black;">
            <h2>Campaigns stat</h2>
            <div class="camp" style="display: flex; flex-direction: column; align-items: center;">
                <h3>Flagged Campaigns</h3>
                <div class="request_1" style="width: 100%; display: flex; justify-content: center;">
                    <img src="/static/images/admin_summary/campaign_flagged.jpg" alt="" width="400" height="400">
                </div>
            </div>
            {%for campaign in campaigns%}
            <div class="camp" style="display: flex; flex-direction: column; align-items: center;">
                <h3>Campaign: {{campaign.name}}</h3>
                {%if campaign.ads%}
                <div class="request_1" style="width: 100%; display: flex; flex-direction: column; align-items: center;">
                    <img src="/static/images/admin_summary/{{campaign.campaign_id}}.jpg" width="400" height="400" alt="">
                </div>
                {%else%}
                <div class="request_1">No ads available for this campaign</div>
                {%endif%}

            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>